<body>
    <div class="content">
        <h1 class="header">Links</h1>
        <div class="links">
            <a href="https://www.linkedin.com/in/paul-nicholas-iten-332967168/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/itenpn" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/nick.iten/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="mailto:iten.pn@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
        </div>
    </div>
</body>