html{
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('./Page/images/mainbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Julius Sans One';
    animation-name: blurring;
    animation-duration: 3s;
}

@keyframes blurring{
    from{filter: blur(10px)};
    to{filter: blur(0)};
}
